
@{
    ViewData["Title"] = "BlogList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@using EntityLayer.Concrete
@model List<Makale>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Makale Id</th>
            <th>Makale Başlık</th>
            <th>Makale Açıklama</th>
            <th>Makale Yazar</th>
            <th>Makale Statu</th>
            <th>Yayına Koy</th>
            <th>Yayından Kaldır</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.MakaleId</td>
            <td>@item.MakaleBaslik</td>
            <td>@item.MakaleAciklama.Substring(0, 100)</td>
            <td>@item.Id</td>
            <td>@item.MakaleStatu</td>
            <td><a asp-area="Admin" asp-controller="AdminBlog" asp-action="StatuTrue" asp-route-id=@item.MakaleId class="btn btn-primary">Yayına Koy</a></td>
            <td><a asp-area="Admin" asp-controller="AdminBlog" asp-action="StatuFalse" asp-route-id=@item.MakaleId class="btn btn-warning">Yayından Kaldır</a></td>
        </tr>
        }
    </tbody>
</table>
