
@{
    ViewData["Title"] = "MakaleList";
    Layout = "~/Views/Shared/YazarLayout.cshtml";
}
@using EntityLayer.Concrete
@model List<Makale>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 grid-margin">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Makale ID</th>
                                <th>Makale ADI</th>
                                <th>Makale</th>
                                <th>Makale Img URL</th>
                                <th>Makale Tarih</th>

                                <th>SİL</th>
                                <th>GÜNCELLE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MakaleId</td>
                                    <td>@item.MakaleBaslik</td>
                                    <td>@item.MakaleAciklama</td>
                                    <td>@item.MakaleImgUrl</td>
                                    <td>@item.MakaleTarih.ToShortDateString()</td>
                                    <td><a asp-controller="Yazar" asp-action="MakaleSil" asp-route-id=@item.MakaleId class="btn btn-danger">Sil</a></td>
                                    <td><a asp-controller="Yazar" asp-action="MakaleGüncelle" asp-route-id=@item.MakaleId class="btn btn-warning">Güncelle</a></td>
                                </tr>
                            }

                        </tbody>
                    </table><br />
                    <a asp-controller="Yazar" asp-action="MakaleEkle" class="btn btn-primary">Ekle</a>

                </div>
            </div>
        </div>
    </div>
